body {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid lightgray;
}

.heading {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.list {
  border: 1px solid #7d53de;
  padding: 20px;
  margin: 10px;
}

.list li {
  list-style: none;
  width: 90%;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #f6f7f8;
  padding: 15px;
  border-radius: 4px;
}

button {
  float: right;
  background: #7d53de;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.box {
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

.add-book {
  text-align: center;
}

.sub {
  width: 10%;
  margin-right: 320px;
}

.line {
  width: 50%;
  height: 5px;
  background-color: #7d53de;
  border-radius: 8px;
  margin-top: 20px;
}
